.fighter-profile {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    font-family: Arial, sans-serif;
    /* Replace with the UFC font if available */
}

.division-status {
    display: inline-flex;
    /* Use flexbox for inline alignment */
    gap: 10px;
    /* Adjust as needed */
    margin-bottom: 1rem;
}

.division-status>span {
    padding: 0.25rem 1rem;
    border-radius: 20px;
    /* Creates rounded corners */
    background-color: #343434;
    /* Dark gray background */
    color: #fff;
    /* White text */
    font-size: 0.875rem;
    /* Adjust as needed */
    font-weight: bold;
    /* Makes text bold */
    text-transform: uppercase;
    /* Uppercase text */
    white-space: nowrap;
    /* Prevents wrapping */
}

.nickname {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.record {
    margin-bottom: 2rem;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.label {
    font-weight: bold;
    text-transform: uppercase;
}

.last-fight {
    margin-bottom: 2rem;
}

.fight-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.fight-details {
    margin-bottom: 0.25rem;
}

.fight-date {
    font-size: 0.9rem;
}

/* Add media queries as needed for responsiveness */